body {
  margin: 0;
  padding: 0;
}

header {
  background-color: grey;
  padding: 0.5rem;
}

h1 {
  font-size: 20px;
}

.top {
  color: #333;
  width: 100%;
  height: 20%;
}

#menu {
  float: right;
  list-style: none;
  display: flex;
}

li {
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.orange-box {
  background-color: orange;
}
